* { box-sizing: border-box;

}
html, body {
    height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: url("../images/subtle_grunge/subtle_grunge/subtle_grunge_@2X.png");
    font-size:18px;
    display: flex;
    flex-direction: column;
}
/* Header */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 80px;
}
.headerCenter {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

#logo
{
    background-color: #4aaaa5;
    width: 250px;
    height: 80px;
    font-size: 30px;
    font-weight: 550;
    color:#ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    text-align: center;
    padding: 25px 0px;
    text-decoration:none;

}

.navigation-bar {
    float: right;   
    padding: 31px 0;
    text-align: center;
}

.navigation-bar li {
    list-style: none;
    float:left;
}

.navigation-bar li a {
    display: block;
    text-decoration:none;
    margin-right: 0px;
    padding: 0 10px;
    border-right: 1px solid #dddddd;
    color:#777777;
}
.navigation-bar li:last-child a{
    border:none;
}

a:link {
    color: #777777;
    text-decoration: none;
    text-decoration-color: #777777;
}
a:visited {
    color: #777777;
    text-decoration: none;
    text-decoration-color: #777777;

}
a:focus {
    color: #777777;
    text-decoration: none;
    text-decoration-color: #777777
}
a:active {
    color: #777777;
    text-decoration: none;
    text-decoration-color: #777777;
}
#header-links a:hover {
    font-size: 25px;
    color: #4AAAA5;
    transition: .5s ease;
}
/* Content for Index */

.content-box {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    flex: 1 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
.content-box h2 {
    font-size: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
    padding: 25px 0px 25px 0px;
    border-bottom: 3px solid #dddddd;
    margin: 0px 25px 0px 25px;
}
.content {
 
    padding: 25px 25px 25px 25px;

    overflow: auto;
}

#portrait {
    width: 20%;
    height: auto;
    float: left;
    margin: 0px 25px 25px 0px
}
/* Why did I need to have a negative top margin to make it line up? I assumme it related to the line-height, but why -10 and not -35? */
.content p {
    line-height: 35px;
    margin-top: -10px;
    font-weight: 549;
    margin-bottom: 35px;
}

/* Footer */

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    font-size: 14px;
    height: 50px;
    clear: both;
    flex-shrink: 0;
    padding-top: 18px;
}


/*Content for Portfolio*/
.work {
    float: left;
    width: 268px;
    margin: 25px 25px 25px 25px;
}
.portfolio-covers {
    object-fit:cover;
    width: 268px;
    height: 200px;
}
.portfolio-covers:hover {
    border: 2px solid rgba(74,170,165, .9);
}
.portfolio-covers:hover + .title{
    background: rgba(74,170,165, .8);
    height: 70px;
    font-size:20px;
    padding: 20px 0;
    bottom: 20px;
}
.work a {
    position: relative;
}
.title {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/*Content-for-Contact*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #dddddd; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #5ACCC6;
  }
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
@media screen and (max-width: 980px) {
    .headerCenter {
        max-width: 880px;
        width: 95%;
        margin: 0 auto;
    }
    .navigation-bar li {
        font-size: 15px;
    }
    #header-links a:hover {
        font-size: 18px;
        color: #4AAAA5;
        transition: .5s ease;
    }
/*for index.html*/
    .content-box {
        max-width: 720px;
        width:95%;
        float: left;
        margin-left: 50px;
        margin-bottom: 200px;
    }
    #portrait {
    width: 25%;
}
/*for portfolio*/
    .work {
        width: 305px;
    }
    .portfolio-covers {
        width: 305px;
        height: 227px;
    }
    footer {
        font-size: 12px;
        height: 90px;
        padding-top: 0px;
        display: table;
    }
    small {
        display: table-cell;
        vertical-align: middle;
    }
} 

@media screen and (max-width: 768px) {
    .headerCenter {
        max-width: 768px;
        width: 95%;
        margin: 0 auto;
    }

    #header-links a:hover {
        font-size: 18px;
        color: #4AAAA5;
        transition: .5s ease;
    }
/*for index.html*/
    .content-box {
        width: 95%;
        float: left;
        margin-left: 20px;
        flex: 1 0 auto;
        margin-top: 40px;
        margin-bottom: 200px;
    }
    #portrait {
        width: 35%;
}
/*for portfolio*/
    .work {
        width: 245px;
    }
    .portfolio-covers {
        width: 245px;
        height: 183px;
    }
    footer {
        font-size: 12px;
        height: 90px;
        padding-top: 0px;
        display: table;
    }
    small {
        display: table-cell;
        vertical-align: middle;
    }
} 
@media screen and (max-width: 640px) {
    .headerCenter {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    #logo {
        width: 100%;
        height: 80px;
        float: left;
        text-align: center;
        padding: 25px 0px;
        text-decoration:none;
    }
       .navigation-bar {
        float: left;
        position: static;
        right: 0px;
        width: 100%;
        background-color:#ffffff;
        border-bottom: 1px solid #cccccc;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #header-links {
        display: inline-block;
       }
/*for index.html*/
    .content-box {
        max-width: 600px;
        width: 92%;
        margin-top: 100px;
        margin-bottom: 200px;
    }
    #portrait {
        width: 100%;
}
/*for portfolio*/
    .work {
        max-width: 590px;
        height: 440px;
        width: 100%;
        object-fit: cover;
        margin: 0;
        margin-bottom: 25px;
        padding: 25px
}
    .portfolio-covers {
        max-width: 590px;
        height: 440px;
        width: 100%;
        margin: 0;
}
    footer {
        font-size: 12px;
        height: 90px;
        padding-top: 0px;
        display: table;
    }
    small {
        display: table-cell;
        vertical-align: middle;
    }
} 
